{% extends 'base.html.twig' %}

{% block title %}{{ 'title.poll_add'|trans }}{% endblock %}

{% block body %}
    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}
    <h1>{{ 'title.poll_add'|trans }}</h1>

    {% if error is defined and error|length %}
        {% include 'default/_single_alert_message.html.twig' with {
            is_single_message: true,
            is_dismissible: false,
            type: 'danger',
            message: error,
        } %}
    {% endif %}

    <div>
        {{ form_start(form, { method: 'post', action: path('poll_add') }) }}
        {{ form_widget(form) }}
        <input type="submit"  class="btn btn-success pull-right" />
        {{ form_end(form) }}
    </div>
{% endblock %}